.footer
  background-color: #171F3F
  color: white
.footer__wrapper
  margin: 0 auto
  height: auto
  width: 100%
  max-width: 87vw   
  padding:  5rem 0 
.footer__h2
  margin: 0  
  font-size: 2rem
  &::before
    content: ""
    border-top: 3px solid #0593FB
    width: 4rem
    display: block
    border-radius: 0.5rem
    margin-bottom: 1rem
.footer__paragraph
  font-weight: 300
  font-size: 1rem
  line-height: 2rem
.footer__icons
  display: flex
  list-style: none
  padding: 0
  margin-bottom: 3rem
.footer__icon
  display: block
  width: 32px
  height: 32px
  margin-right: 1.5rem
.footer__icons-fb
  background-image: url("../assets/img/fb.svg") 
.footer__icons-gh  
  background-image: url("../assets/img/gh.svg") 
.footer__icons-insta  
  background-image: url("../assets/img/Instagram.svg") 
.footer__email
  color: #0593FB
  border-bottom: 2px solid #0593FB
  text-decoration: none
