.contact
  // display: block
  position: fixed
  width: 97%
  top: 50%
  left: 50%
  -webkit-transform: translate(-50%, -50%) translateZ(1000px)
  -moz-transform: translate(-50%, -50%) translateZ(1000px)
  -ms-transform: translate(-50%, -50%) translateZ(1000px)
  -o-transform: translate(-50%, -50%) translateZ(1000px)
  transform: translate(-50%, -50%) translateZ(1000px)
  background-color: #fafafa
  border-radius: 10px
  padding: 40px 25px 0 25px
  text-align: center
  box-shadow: 0 0 0px 100vw rgba(0, 0, 0, 0.45), 0px .2rem .5rem black
  font-size: calc(16px + (25 - 20) * ((100vw - 320px)/ (1920 - 320)))
  z-index: 999
  overflow: hidden
  background-color: #F5F7FA
  .close-btn
    position: absolute
    top: 15px
    right: 10px
    background: none
    border: 0
    color: dimgrey
    font-size: 1.2em
    color: #171F3F


.emailForm
  label
    display: block
    font-weight: 700
    margin: 0 0 30px
    color: #555
    

    &.half
      display: inline-block
      width: 49.4%

  textarea
    display: block
    padding: 5px
    border-top-left-radius: 3px
    border-top-right-radius: 3px
    border-bottom-right-radius: 3px
    width: 100%
    margin: 0
    height: 20vh
    resize: none
    color: #555
    font-size: inherit
    font-weight: 300

  input
    display: block
    width: 100%
    margin-top: 5px
    border-top-left-radius: 2px
    border-top-right-radius: 2px
    border-bottom-right-radius: 2px
    font-size: inherit
    font-weight: 300

  .error
    background: rgb(255, 107, 98)
    position: absolute
    margin: 0
    display: block
    animation: .5s slideTop
    z-index: -1
    border-top: 0 !important
    border-bottom-right-radius: 3px
    border-bottom-left-radius: 3px
    max-width: 80%
    padding: 0 5px
    color: white
    font-size: 0.8em
    font-weight: 300

  button[type=submit]
    width: 40%
    cursor: pointer
    margin-top: 35px
    font-size: 1.1em
    font-weight: 300
    background-color: #171F3F
    color: #F5F7FA

@media (max-width: 1200px)
  .emailForm label.half
    display: block
    width: 100%

@media (max-width: 500px)
  .emailForm input
    &[type="text"], &[type="email"]
      display: block

.g-recaptcha
  margin: 35px 2px 0 0
  border-top-left-radius: 3px
  border-top-right-radius: 3px
  border-bottom-right-radius: 3px
.recaptcha-label
  width: 306px
  margin: auto !important
  max-width: none
.emailFormAlert
  color: #171F3F
  padding: 6px 0px
  height: 5%
  overflow: auto
  font-weight: 300
  background-color: transparent
  margin: 0 auto

  .fa
    color: #555

.wrongInput
  border: solid 1px #d80000

@keyframes slideTop
  0%
    transform: translateY(-10px)

  100%
    transform: translateY(0px)

.contact .close-btn:hover
  cursor: pointer
  outline: none


  .emailForm textarea
    height: 20vh
    font-weight: 300

.main-btn
  background-color: #F5F7FA
  border-radius: .5rem
  color: #171F3F
  display: block
  margin: 10px auto 0 auto
  text-align: center
  border: 0
  cursor: pointer
  padding: .5rem 1rem
  box-shadow: 0 1px 4px 0 black
  
  i
    color: #171F3F

  &:active
    transform: translateY(+1px)
    box-shadow: 0 1px 4px 0 black


@media (max-width : 375px)
  .contact
    width: 70%
    font-size: 1rem
  .recaptcha-label
    margin-left: -1.2rem !important
  .emailForm textarea
    height: 13vh
    width: 95%
    margin: 0 auto
    font-size: 0.9rem
  input.form-data
    font-size: 1rem
    width: 80%
    margin: 0 auto
  .main-btn
    display: block
    margin: 0 auto 
    text-align: center
    padding: .5rem 1rem
    background-color:  #F5F7FA
    color: #171F3F
    border: 2px solid white
  .emailForm button[type=submit]
    background-color: #171F3F
    color: #F5F7FA 
    border: none
    margin-bottom: .5rem
  .emailFormAlert
    width: 65%
    position: absolute
    bottom: 7%
    left: 19%
    font-size: .7rem
  label.half
    font-size: .9rem
  label
    font-size: .9rem
  

  

@media (min-width : 410px) and (orientation: portrait)
  .contact
    width: 70%
    font-size: 1rem
  .recaptcha-label
    margin-left: -.5rem !important
  .emailForm textarea
    height: 13vh
    width: 95%
    margin: 0 auto
    font-size: 0.9rem
  input.form-data
    font-size: 1rem
    width: 80%
    margin: 0 auto
  .main-btn
    display: block
    margin: 0 auto 
    text-align: center
    padding: .5rem 1rem
    background-color:  #F5F7FA
    color: #171F3F
    border: 2px solid white
  .emailForm button[type=submit]
    background-color: #171F3F
    color: #F5F7FA 
    border: none
    margin-bottom: .5rem
  .emailFormAlert
    width: 65%
    position: absolute
    bottom: 7%
    left: 19%
    font-size: .7rem
  label.half
    font-size: .9rem
  label
    font-size: .9rem



@media (min-width : 768px) and (orientation: portrait)
  .contact
    width: 80%
    font-size: 1.5rem
  .recaptcha-label
    margin-left: 9.6rem !important
  .emailForm textarea
    height: 13vh
    width: 95%
    margin: 0 auto
    font-size: 1.1rem
  input.form-data
    font-size: 1.1rem
    width: 80%
    margin: 0 auto
  .main-btn
    display: block
    margin: 0 auto 
    text-align: center
    padding: .5rem 1rem
    background-color:  #F5F7FA
    color: #171F3F
    border: 2px solid white
  .emailForm button[type=submit]
    background-color: #171F3F
    color: #F5F7FA 
    border: none
    margin-bottom: .5rem
  .emailFormAlert
    width: 65%
    position: absolute
    bottom: 7%
    left: 19%
    font-size: .7rem
  


@media (min-width: 640px) and (max-width:823px) and (orientation: landscape)
  .contact
    width: 70%
    height: 90%
    padding-top: 1.5rem
    font-size: 1rem
  label.recaptcha-label 
    position: absolute
    display: block
    bottom: 10%
    right: 3%
  label.half
    margin-bottom: 0.5rem
  label
    margin-bottom: 0
    font-weight: 300
  .emailForm textarea
    height: 14vh
    font-weight: 300
    font-size: .9rem
    width: 90%
    margin : 0 auto
  .emailForm button[type=submit]
    width: 25%
    position: absolute
    bottom: 10%
    left: 3%  
    background-color: #171F3F
    color: #F5F7FA
  input.form-data
    font-weight: 300
    font-size: 1rem
    width: 75%
    margin : 0 auto
  .emailFormAlert
    width: 40%
    color: #171F3F
    padding: 0
    height: 4%
    overflow: auto
    font-weight: 300
    background-color: transparent
    position: absolute
    bottom: 2%
    right: 3%
    font-size: .7rem

@media (min-width: 1024px) 
  .contact
    width: 60%
    height: 70%
    padding-top: 4rem
    font-size: 1rem
  label.recaptcha-label
    margin: 0 auto
  label
    margin-bottom: 1rem
    font-weight: 300
    font-size: 1.2rem
  .emailForm textarea
    height: 13vh
    width: 80%
    font-weight: 300
    margin: 0 auto
    font-size: .9rem
  .main-btn
    position: absolute
    left: 0
    bottom: 2%
  .emailForm button[type=submit]
    width: 180px
    // margin: 1.5rem auto 
    left: calc(50% - 90px)
    bottom: 5%
  input.form-data
    font-weight: 300
    font-size: .9rem 
    width: 80%
    margin: 1rem auto
  .emailFormAlert
    margin: 0 auto
    display: block
    font-size: 1rem

  
 