body
  border: 8px solid #171F3F
html  
  font-family: Poppins
  box-sizing: border-box
.header
  height: 95vh
  max-width: 55vw
  margin: 5rem 0 0 5rem
.header__pic
  width: 120px
  height: 120px
  border-radius: 50%  
  // &::before
  //   content: "xd"
  //   border: 3px solid #CBD2D9
  //   display: block
  //   height: 2px
  //   width: 10px
  //   background-color: #CBD2D9
.header__h1
  font-weight: 600
  font-size: 2.3rem
  line-height: 46px
  color: #171F3F
.header__paragraph
  font-weight: 300
  font-size: 1rem
  line-height: 30px
  margin-bottom: 4rem
  color: #52606D
.header__anchor
  color: #0593FB
  text-decoration: underline  
.header__email
  color: #0593FB
  border-bottom: 2px solid #0593FB
  text-decoration: none
  
  
