.skills
  margin: 0 auto
  height: auto
  width: 87vw
.skills__h2
  font-size: 2rem
  text-align: left
.skills__part
  display: grid
  grid-template-columns: 40% 60%
  grid-column-gap: 4rem
.skills__container
  border-top: 2px solid rgba(203, 210, 217, 0.6)
  padding-top: 7rem
.skills__list
  display: grid
  grid-template-columns: 50% 50%  
  grid-row-gap: 0.5rem
  list-style: none
  font-size: 1rem
  margin-top: 0
.skills__list--green 
  list-style-image: url("../assets/img/circleGreen.png")
.skills__list--purple  
  list-style-image: url("../assets/img/circlePurple.png")
.skills__list--blue
  list-style-image: url("../assets/img/circleBlue.png") 
.skills__part--ousted
  margin: 7rem 0
.skills__h3
  font-size: 1.7rem
  color: #171F3F
  margin-top: -1.5rem
.skills__h3--green
  &::before
    content: ""
    border-top: 3px solid #06C847
    width: 4rem
    display: block
    border-radius: 0.5rem
    margin-bottom: 1rem
.skills__h3--purple
  &::before
    content: ""
    border-top: 3px solid #653CAD
    width: 4rem
    display: block
    border-radius: 0.5rem
    margin-bottom: 1rem
.skills__h3--blue
  &::before
    content: ""
    border-top: 3px solid #2251CC
    width: 4rem
    display: block
    border-radius: 0.5rem
    margin-bottom: 1rem
li
  line-height: 1.5rem

