.skills
  // display: flex
  // flex-direction: column
  // align-items: center
  // justify-content: center
  margin: 0 auto
  height: 100vh
  width: 87vw
.skills__h2
  font-size: 2rem
  text-align: left

.skills__part
  display: grid
  grid-template-columns: 40% 30% 30%
  grid-column-gap: 20px
  height: 20vh
.skills_container
  border-top: 2px solid rgba(203, 210, 217, 0.6);
  padding-top: 15vh
  